@font-face {
    font-family: 'Zawgyi-One';
    //src: url(/tasks_23_01_2021/static/src/fonts/Pyidaungsu-1.8.3_Regular.ttf);
    src: url(/tasks_23_01_2021/static/src/fonts/Zawgyi-One_V3.1.ttf);
}

.mmFont {
//    font-family: Pyidaungsu;
	font-family: Zawgyi-One;
//     font-size: 60px;
//     color: #3399cc;
}